doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Accutrend
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet")
    link(href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    link(href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css")
    link(rel="stylesheet" href="assets/css/index.css")
    script(src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js")
    script(src="https://code.jquery.com/jquery-1.11.0.min.js")
    script(src="https://code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
    script(src="js/index.min.js")
  body
    include assets/pug/header.pug
    include assets/pug/banner.pug
    include assets/pug/portative.pug
    include assets/pug/advantages.pug
    include assets/pug/opportunities.pug
    include assets/pug/features.pug
    include assets/pug/spec.pug
    include assets/pug/additional.pug
    include assets/pug/faq.pug
    include assets/pug/feedback.pug
    include assets/pug/footer.pug
    include assets/pug/cookies.pug
    include assets/pug/popup-order.pug
    include assets/pug/popup-physical.pug
    include assets/pug/popup-juristic.pug
    