.banner {
  position: relative;
  overflow: hidden;
  padding: calc(62px + 134px) 0 10px;
  height: calc(803px + 134px);
  background-color: #EEF0F6;
  &-wrapper,
  .container,
  .banner-wrapper,
  .slide,
  .left,
  .slick-list,
  .slick-track {
    height: inherit;
  }
  &-wrapper {
    position: relative;
    .slide {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      z-index: -1;
      opacity: 0;
      &.active {
        z-index: 1;
        opacity: 1;
      }
    }
  }
  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    &-list,
    &-item {
      height: inherit;
    }
    &-list {
      display: flex;
      width: calc(117vw * 2);
      transition-timing-function: cubic-bezier(.25,.5,.25,1.25);
      transition-duration: 1.25s;
      // transition-duration: 10s;
      transition-property: transform;
    }
    &-item {
      position: relative;
      width: 100vw;
      margin: 0 8.5vw;
      transform: translateX(-8.5vw);
    }
    &-dots {
      position: absolute;
      display: flex;
      left: 50%;
      bottom: 28px;
      transform: translateX(-50%);
      list-style: none; 
      z-index: 1000;
    }
    &-dot {
      position: relative;
      cursor: pointer;
      padding: 14px;
      button {
        position: relative;
        cursor: pointer;
        padding: 0;
        border: none;
        font-size: 0;
        background-color: #bfbfbf;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 21px;
          height: 21px;
          background-color: transparent;
          background-image: url('../icons/dot.png');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          opacity: 0;
        }
      }
      &.active button::after {
        opacity: 1;
      }
    }
  }
  .circle-left {
    left: -555px;
    // left: -76px;
    // left: -29vw;
    top: 68px;
    width: 44.0625vw;
    height: 44.0625vw;
    max-width: 846px;
    max-height: 847px;
    border-width: 10.0520833333vw; // 193px
  }
  .circle-center {
    left: calc(50% + 278px);
    top: calc(50% + 20px);
    width: 31.25vw;
    height: 31.25vw;
    max-width: 600px;
    max-height: 600px;
    transform: translate(-50%, -50%);
    border-width: 5.625vw; // 108px
  }
  .circle-right {
    right: -555px;
    // right: -73px;
    // right: -29vw;
    top: 99px;
    width: 40.9895833333vw;
    height: 40.9895833333vw;
    max-width: 787px;
    max-height: 787px;
    border-width: 8.4375vw;
  }
  h4 {
    font-size: 25px;
    line-height: 18px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  h1 {
    font-size: 45px;
    line-height: 24px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 34px;
  }
  small {
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    margin-bottom: 18px;
  }
  .text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    p, span {
      max-width: 450px;
    }
    span {
      display: inline-block;
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
    }
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 24px;
      margin: 40px 0 34px;
      column-gap: 55px;
    }
    li {
      position: relative;
      list-style: none;
      padding-left: 25px;
      color: #005999;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('../icons/heart.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 14px;
        height: 14px;
      }
    }
  }
  .button-wrap {
    margin-top: 45px;
    button:first-child {
      margin-right: 16px;
    }
    [role="button"] {
      text-align: center;
      display: inline-block;
      width: 144px;
      padding: 17px 18px;
    }
  }
  .left {
    position: relative;
    z-index: 1;
    min-width: 472px;
  }
  .right {
    position: relative;
    line-height: 0;
    left: calc(50% + -190px);
    bottom: calc(50% + 135px);
    transform: translate(-50%, 50%);
    .img-wrap {
      position: relative;
      width: 29.0104166667vw;
      max-width: 557px;
      // left: 50%;
      // top: 50%;
      // transform: translate(-50%, -50%);
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .slide-1 {
    .right {
      left: calc(50% + -429px);
      bottom: calc(50% + 215px);
    }
  }
  .img {
    img {
      display: block;
      margin: 0 auto;
      width: 282px;
      height: auto;
    }
  }
}

@media screen and (max-width: 1800px) {
  .banner {
    .right {
      bottom: calc(50% + 185px);
    }
  }
}

@media screen and (max-width: 1700px) {
  .banner {
    .circle-left {
      left: -30vw;
    }
    .right {
      bottom: calc(50% + 215px);
    }
  }
}

@media screen and (max-width: 1600px) {
  .banner {
    .circle-left {
      left: -25vw;
    }
    .right {
      bottom: calc(50% + 235px);
    }
    .slide-1 {
      .right {
        left: calc(50% + -359px);
        bottom: calc(50% + 285px);
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .banner .right {
    bottom: calc(50% + 265px);
  }
}

@media screen and (max-width: 1400px) {
  .banner {
    .right {
      bottom: calc(50% + 285px);
    }
    .slide-1 {
      .right {
        left: calc(50% + -339px);
        bottom: calc(50% + 345px);
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .banner {
    padding: calc(62px + 44px) 0 10px;
    // min-height: 653px;
    height: 653px;
    .circle-right {
      display: none;
    }
    .text ul {
      margin: 30px 0 14px;
    }
    .button-wrap {
      margin-top: 20px;
    }
    .right {
      bottom: calc(50% + 75px);
    }
    .slide-1 {
      .right {
        left: calc(50% + -309px);
        bottom: calc(50% + 155px);
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .banner {
    .circle-left {
      left: -20vw;
    }
    .right {
      bottom: calc(50% + 135px);   
    }
  }
}

@media screen and (max-width: 1000px) {
  .banner {
    .slide-1 {
      .right {
        bottom: calc(50% + 201px);
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .banner {
    .circle-left {
      left: -15vw;
    }
    .right {
      bottom: calc(50% + 185px);
    }
    .slide-1 {
      .right {
        left: calc(50% + -285px);
        bottom: calc(50% + 221px);
      }
    }
  }
}

// animation on slide
@media screen and (min-width: 769px) {
  .banner {
    &-wrapper {
      .slide {
        .left {
          opacity: 0;
          transition: opacity 1s ease-in;
        }
        .right {
          width: 29.0104166667vw;
          max-width: 557px;
          .img-wrap {
            max-height: 0;
            transition-property: max-height;
            transition-duration: 1s;
            // transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
            transition-timing-function: ease-in-out;
            overflow: hidden;
            position: absolute;
            bottom: 0;
            img {
              position: absolute;
              bottom: 0;
            }
          }
        }
        &.active {
          .left {
            opacity: 1;
          }
        }
        &-0 {
          .right {
            .img-wrap {
              height: 46.875vw;
            }
          }
        }
        &-1 {
          .right {
            .img-wrap {
              height: 36.25vw;
            }
          }
        }
        &-0.active {
          .right .img-wrap {
            max-height: 46.875vw;
          }
        }
        &-1.active {
          .right .img-wrap {
            max-height: 36.25vw;
          }
        }
        &-1 {
          .right {
            width: 44.5833333333vw;
            max-width: 856px;
            .img-wrap {
              width: 44.5833333333vw;
              max-width: 856px;
              // left: calc(50% + -143px);
              // top: calc(50% + 17px);
            }
          }
          .text p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .banner {
    padding: 55px 0 10px;
    min-height: 900px;
    &-wrapper {
      .slide {
        visibility: hidden;
        .img {
          position: relative;
          bottom: 10px;
          height: 142.5vw;
          max-height: 456px;
        }
        .img-inner {
          width: 282px;
          height: 142.5vw;
          max-height: 0;
          transition-property: max-height;
          transition-duration: 1s;
          transition-timing-function: ease-in-out;
          overflow: hidden;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          img {
            width: 282px;
            height: auto;
            position: absolute;
            bottom: 0;
          }
        }
        &-1 {
          .img {
            bottom: 55px;
            .img-inner {
              width: 434px;
              img {
                width: inherit;
              }
            }
          }
        }
        .text-wrap {
          opacity: 0;
          transition: opacity 1s ease-in;
        }
        &.active {
          visibility: visible;
          .text-wrap {
            opacity: 1;
          }
          .img-inner {
            max-height: 142.5vw;
          }
        }
      }
    }
    .circle-left,
    .circle-right {
      display: none;
    }
    .circle.circle-center {
      display: block;
      top: 192px;
      width: 304px;
      height: 304px;
      border-width: 48px;
      left: 50%;
      transform: translateX(-50%);
    }
    .slider-dots {
      height: 50px;
    }
    .img {
      img {
        transform: translateX(0.5%);
      }
    }
    h4 {
      font-size: 22px;
      line-height: 18px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 20px;
    }
    h1 {
      font-size: 26px;
      font-weight: 800;
      text-align: center;
      margin-bottom: 5px;
    }
    small {
      width: 100%;
      font-size: 16px;
      line-height: 18px;
      font-weight: 400;
      margin-top: 20px;
      text-align: center;
      font-weight: 600;
    }
    .text {
      ul {
        margin: 14px auto 34px;
        row-gap: 17px;
        width: 280px;
        li {
          font-size: 14px;
          line-height: normal;
          font-weight: 400;
          &::before {
            top: 2px;
            transform: translateY(0);
          }
          &:nth-child(odd) {
            left: 10px;
          }
        }
      }
    }
    .left {
      min-width: 100%;
    }
    .slide-1 {
      small {
        margin-top: 14px;
      }
      img {
        width: 434px;
        position: relative;
        // left: calc(50% + -23.75vw);
        transform: translate(-50%, 0);
      }
      p {
        font-size: 14px;
        text-align: center;
        margin: 0 auto;
      }
      .button-wrap {
        margin-top: 22px;
      }
    }
    .button-wrap {
      display: flex;
      justify-content: center;
      margin-top: 42px;
      button,
      [role="button"] {
        width: 135px;
        margin: 0;
      }
    }
  }
}

.banner .slide-1 .img-inner img {
  left: calc(50% + -23.75vw);
}

@media screen and (min-width: 500px) {
  .banner .slide-1 .img-inner img {
    left: calc(50% + -16.75vw);
  }
}

@media screen and (min-width: 650px) {
  .banner .slide-1 .img-inner img {
    left: calc(50% + -11.75vw);
  }
}


