.faq {
  padding: 37px 0 80px;
  h3 {
    text-align: center;
  }
  .accordion {
    .title {
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 800px) {
  .faq {
    padding: 22px 0 0;
    h3 {
      font-size: 26px;
      line-height: normal;
      margin-bottom: -5px;
    }
    .accordion {
      .title {
        font-size: 18px;
      }
      li:last-child {
        .title {
          border-bottom: none;
        }
      }
      .info {
        padding-top: 15px;
        font-size: 16px;
        line-height: normal;
        & > div:not(:last-child) {
          margin-bottom: 30px;
        }
        ul {
          li {
            margin-bottom: 10px;
            &:after {
              top: 9px;
            }
          }
        }
      }
      strong {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
        display: block;
      }
    }
  }
}