-
    var physicalList = {
      'sweetmed': {
        title: 'Свитмед',
        links: {
          device: 'https://sweetmed.ru/vitrina/analizatory_krovi/biohimicheskie_analizatory/accutrend_plus/?sphrase_id=23127',
          cholesterol: 'https://sweetmed.ru/vitrina/analizatory_krovi/aksessuary_dlya_analizatorov_krovi/for_accutrend/accutrend_holesterin/?sphrase_id=23128',
          triglycerides: 'https://sweetmed.ru/vitrina/analizatory_krovi/aksessuary_dlya_analizatorov_krovi/for_accutrend/accutrend_trigliceridy/?sphrase_id=23128',
          glucose: 'https://sweetmed.ru/vitrina/analizatory_krovi/aksessuary_dlya_analizatorov_krovi/for_accutrend/accutrend_glukoza/?sphrase_id=23128',
          lactate: 'https://sweetmed.ru/vitrina/analizatory_krovi/aksessuary_dlya_analizatorov_krovi/for_accutrend/accutrend_lactat/?sphrase_id=23128',
          softclix: 'https://sweetmed.ru/vitrina/analizatory_krovi/aksessuary_dlya_analizatorov_krovi/lancets/accu_check_softclix/',
          accuChekSafeTProPlus: '',
          accuchekSoftclix: 'https://sweetmed.ru/vitrina/analizatory_krovi/aksessuary_dlya_analizatorov_krovi/lancets/accu_check_softclix_25/?sphrase_id=23130'
        }
      },
      'wellsi': {
        title: 'WellSi',
        links: {
          device: 'https://wellsi.ru/analizator-akkutrend-plyus-accutrend-plus/',
          cholesterol: 'https://wellsi.ru/test-poloski-akkutrend-5-kholesterin-kholesterin-v-krovi/',
          triglycerides: 'https://wellsi.ru/test-poloski-akkutrend-triglitseridy-accutrend-triglycerid-25-shtuk/',
          glucose: 'https://wellsi.ru/test-poloski-akkutrend-25-glyukoza-sakhar-v-krovi/',
          lactate: 'https://wellsi.ru/test-poloski-bm-laktat-bm-lactate/',
          softclix: 'https://wellsi.ru/prokalyvatel-accu-chek-softclix-akku-chek-softkliks-/',
          accuChekSafeTProPlus: '',
          accuchekSoftclix: 'https://wellsi.ru/lantsety-accu-chek-softclix-25-akku-chek-softkliks/'
        }
      },
      'alpha-diagnostics': {
        title: 'Альфа-Диагностика',
        links: {
          device: 'https://www.alpha-diagnostics.ru/catalog/samokontrol/accutrend-plus-akkutrend-plyus/',
          cholesterol: 'https://www.alpha-diagnostics.ru/catalog/samokontrol/accutrend-cholesterol-5-strips/',
          triglycerides: '',
          glucose: 'https://www.alpha-diagnostics.ru/catalog/samokontrol/accutrend-glucose-25-strips/',
          lactate: 'https://www.alpha-diagnostics.ru/catalog/sportivnaya-meditsina/accutrend-lactat-25-strips/',
          softclix: 'https://www.alpha-diagnostics.ru/catalog/ustroystva-dlya-prokalyvaniya-paltsa/accu-chek-softclix-akkuchek-softkliks/',
          accuChekSafeTProPlus: 'https://www.alpha-diagnostics.ru/catalog/ustroystva-dlya-prokalyvaniya-paltsa/accu-chek-safe-t-pro-plus/',
          accuchekSoftclix: 'https://www.alpha-diagnostics.ru/catalog/ustroystva-dlya-prokalyvaniya-paltsa/accu-chek-softclix-lancet-25-s/'
        }
      },
      'zdravcity': {
        title: 'Здравсити',
        links: {
          device: 'https://zdravcity.ru/p_jekspress-analizator-biohimicheskij-portativnyj-akkutrend-pljus-s-prinadlezhnastjami-0098022.html',
          cholesterol: 'https://zdravcity.ru/p_test-poloski-i-kontrolnye-rastvory-dlja-jekspress-analizatorov-portativnyh-akkutrend-holesterin-n25-0098024.html',
          triglycerides: 'https://zdravcity.ru/p_test-poloski-i-kontrolnye-rastvory-dlja-jekspress-analizatorov-portativnyh-akkutrend-trigliceridy-n2-0098038.html',
          glucose: '',
          lactate: 'https://zdravcity.ru/p_test-poloski-i-kontrolnyj-material-dlja-biohimicheskogo-jekspress-analizatora-akkutrend-laktat-n25-0098023.html',
          softclix: 'https://zdravcity.ru/p_akku-chek-softkliks-ruchka-d-prokalyvanija-palca-0015684.html',
          accuChekSafeTProPlus: '',
          accuchekSoftclix: 'https://zdravcity.ru/p_akku-chek-softkliks-lancety-n25-0015683.html'
        }
      },
      'norma-life': {
        title: 'Norma Life',
        links: {
          device: 'https://norma-life.ru/katalog/analizatoryi-krovi/analizator-akkutrend-plyus-317',
          cholesterol: 'https://norma-life.ru/katalog/analizatoryi-krovi/analizator-akkutrend-plyus-317',
          triglycerides: 'https://norma-life.ru/katalog/test-poloski/test-poloski-accutrend-triglycerides-25-st--374',
          glucose: 'https://norma-life.ru/katalog/test-poloski/test-poloski-accutrend-glucose-25-st--375',
          lactate: 'https://norma-life.ru/katalog/test-poloski/test-poloski-accutrend-bm-lactate-25-st--373',
          softclix: 'https://norma-life.ru/katalog/lantsetyi-i-ruchki/accuchek-softckix',
          accuChekSafeTProPlus: 'https://norma-life.ru/katalog/lantsetyi-i-ruchki/lantsetyi-AccuChek_Safe-T-Pro-Plus',
          accuchekSoftclix: 'https://norma-life.ru/katalog/lantsetyi-i-ruchki/lantsetyi-accuchek-softckix-25-306'
        }
      }
    }