-
    var juristicList = [
    {
      title: 'ООО «Альфа-Диагностика»',
      for: 'alpha',
      phones: [
        {
          display: '+7 495 580-29-02',
          attr: '+74955802902',
          note: '',
        },
        {
          display: '+7 495 789-44-11',
          attr: '+74957894411',
          note: '',
        },
        {
          display: '+7 905 537-78-53',
          attr: '+79055377853',
          note: '',
        }
      ],
      email: 'info@alpha-diagnostics.ru',
      website: 'http://www.alpha-diagnostics.ru/'
    },
    {
      title: 'ООО «МЕДАНКО»',
      for: 'medanko',
      phones: [
        {
          display: '+7 495 514-05-50',
          attr: '+74955140550',
          note: 'для звонков из Москвы и МО',
        },
        {
          display: '+7 800 770-05-05',
          attr: '+78007700505',
          note: 'для звонков из других регионов',
        }
      ],
      email: 'mail@medanco.ru',
      website: ''
    },
    {
      title: 'ООО «Медиа Сервис АБВ»',
      for: 'medabv',
      phones: [
        {
          display: '+7 495 788-57-30',
          attr: '+74957885730',
          note: '',
        }
      ],
      email: 'info@medabv.ru',
      website: 'http://medabv.ru/'
    },
    {
      title: 'ООО «Мирус Медикал»',
      for: 'mirus-medical',
      phones: [
        {
          display: '+7 499 579-33-03',
          attr: '+74995793303',
          note: 'Москва',
        }
      ],
      email: 'info@mirus-medical.ru',
      website: 'http://mirus-medical.com'
    },
    {
      title: 'ООО "Мирус Медикал Северо-Запад"',
      for: 'mirus-medical-spb',
      phones: [
        {
          display: '+7 (812) 332-13-50',
          attr: '+78123321350',
          note: 'Санкт-Петербург',
        }
      ],
      email: 'info-spb@mirus-medical.ru',
      website: ''
    },
    {
      title: 'ООО «Лабора»',
      for: 'labora',
      phones: [
        {
          display: '+7 3952 28-88-67',
          attr: '+73952288867',
          note: '',
        },
        {
          display: '+7 3952 22-88-55',
          attr: '+73952228855',
          note: '',
        },
        {
          display: '+7 3952 22-88-66',
          attr: '+73952228866',
          note: 'Иркутск',
        }
      ],
      email: 'labora.irk@mail.ru',
      website: ''
    },
    {
      title: 'ООО «Сахмедсервис»',
      for: 'sakhmeds',
      phones: [
        {
          display: '+7 4242 43-40-98',
          attr: '+74242434098',
          note: '',
        },
        {
          display: '+7 4242 74-40-37',
          attr: '+74242744037',
          note: 'Южно-Сахалинск',
        }
      ],
      email: 'info@sakhmeds.com',
      website: ''
    },
    {
      title: 'Группы компаний «Махаон»',
      for: 'gc-machaon',
      phones: [
        {
          display: '+7 (812) 606-60-46',
          attr: '+78126066046',
          note: 'Санкт-Петербург',
        }
      ],
      email: 'gcm@gc-machaon.ru',
      website: ''
    },
    {
      title: 'НДА Деловая Медицинская Компания',
      for: 'nda',
      phones: [
        {
          display: '+7 (812) 714 0614',
          attr: '+78127140614',
          note: 'Санкт-Петербург'
        }
      ],
      email: 'nda@nda.ru',
      website: ''
    },
    {
      title: 'ООО "Группа МЕДИАЛАЙН"',
      for: 'mdlgroup',
      phones: [
        {
          display: '+7 (499) 153-16-50',
          attr: '+74991531650',
          note: '',
        }
      ],
      email: 'kravchenko.andrey@mdlgroup.ru',
      website: ''
    }
  ]
  