#cookie-notice.cookie-notice
  .container
    .content-wrap
      div На сайте diagnostics.roche.com используются файлы cookie. Оставаясь на сайте, вы соглашаетесь с <a href="./assets/pdf/personal_agreement.pdf" target="_blank">обработкой пользовательских данных</a> и <a href="./assets/pdf/policy.pdf" target="_blank">политики конфиденциальности</a>
      .btn-wrap
        button Согласен