-
  var faqList = [
    {
      title: 'Что нужно для работы с прибором Аккутренд Плюс?',
      defaultClass: 'open',
      info: `
      <div>
        <strong>В комплект поставки устройства входят следующие компоненты:</strong>
        <ul>
          <li>Биохимический анализатор Аккутренд Плюс - 1 шт.</li>
          <li>Батарейка типа ААА - 4 шт.</li>
          <li>Руководство пользователя на русском языке</li>
          <li>Сумка-чехол</li>
        </ul>
        <p>*Внимание: тест-полоски и ручка-прокалыватель в комплект не входят</p>
        <ul>
          <li>Руководство пользователя на русском языке</li>
          <li>Руководство пользователя на русском языке</li>
          <li>Руководство пользователя на русском языке</li>
        </ul>
      </div>
      <div>
        <strong>Чтобы начать измерение вам также понадобится следующее:</strong>
        <ul>
          <li>Упаковка тест-полосок.</li>
          <li>Индивидуальная ручка-прокалыватель с ланцетами (Например: ручка Акку-Чек Софткликс)</li>
          <li>Спиртовая салфетка, для обработки места прокола после измерения.</li>
        </ul>
      </div>
      `,
    },
    {
      title: 'Нужно ли калибровать или поверять прибор Аккутренд Плюс?',
      defaultClass: '',
      info:  `
      <div>
        <p>Поверка прибора Аккутренда Плюс производится на заводе-изготовителя. Нет необходимости в ручной калибровке прибора. Перед измерением нужно настроить прибор, и провести кодирование, вставив кодировочную тест-полоску. Затем можно проводить измерения на приборе. Если Вы приобрели новую упаковку тест-полосок, то нужно провести кодирование с новой упаковкой.
          После кодирования прибор автоматически считает все данные, и автоматически откалибрует значения под данную партию тест-полосок.</p>
      </div>
      `,
    },
    {
      title: 'Почему возможны различия результатов от лаборатории к лаборатории, или между лабораторией и Аккутренд Плюс?',
      defaultClass: '',
      info:  `
      <div>
        <p>Существуют различные методики и системы измерения биохимических параметров (холестерин, триглицериды, глюкоза, лактат), чтобы проверить или сравнить полученные результаты с другими лабораторными приборами, важно понимать следующее:</p>
        <ol>
          <li>Такие параметры как глюкоза, триглицериды, лактат подвержены колебаниям в течению суток (общий холестерин в меньшей степени), очень важно производить сравнение с другим анализатором в течение получаса (в случае глюкозы до нескольких минут). Прием пищи, воды, лекарств, физические нагрузки – могут повлиять на метаболизм данных параметров. Измерение (глюкозы, холестерина, триглицеридов) и сравнение рекомендуется проводить утром натощак перед приемом пищи (проводить измерения после 6 часов перерыва в приеме пищи).</li>
          <li>Убедитесь, что прибор верно настроен, исправны тест-полоски, пользователь правильно получил и наносит пробу:
            <ul>
              <li>закодирован (сравните код на тест-полосках, тубе и на экране прибора)</li>
              <li>тест-полоски не просрочены, уточнить хранились при закрытой тубе, не намокали, не замораживали?</li>
              <li>проба крови была получена и нанесена в течение до 30 секунд после прокола,</li>
              <li>пальцы были чистые и сухие,</li>
              <li>нельзя касаться или растирать пальцами тестовую зону тест-полоски (Например пальцы были жирные или плохо вымыты после мытья рук с мылом, при измерении холестерина или триглицеридов).</li>
              <li>убедиться, что вся тестовая зона (желтая часть тест-полоски) была покрыта кровью (1-2 капли крови, около 15-40 мкл), если пробы было недостаточно, то возможно получение заниженных результатов, или ошибки LOW</li>
              <li>прибор не двигали и не открывали крышку, во время измерения,</li>
              <li>не было рядом электромагнитных излучений, например работающей СВЧ печи,</li>
              <li>если получено 1 измерение, то провести серию измерений (не менее 3) и по ним сравнить результаты между собой,</li>
              <li>если возможно, провести измерение с новой партией тест-полосок.</li>
            </ul>
          </li>
          <li>Если все эти требования соблюдены, то имейте ввиду что при использовании различных анализаторов (или глюкометров - в случае глюкозы) значения могут незначительно отличаться, в зависимости от типа калибровки анализатора, могут отличаться до 20% друг от друга. Приборы «Аккутренд» полностью соответствуют международному стандарту ISO-15197, установленным Международной Организацией по Стандартизации, согласно которому погрешность при измерении уровня сахара в крови может составлять ± 20%.</li>
        </ol>
      </div>
      `,
    },
    {
      title: 'Как и когда проводить контроль качества прибора Аккутренд Плюс с помощью контрольных растворов?',
      defaultClass: '',
      info: `
      <div>
        <p>У прибора Аккутренд Плюс имеется внутренний контроль качества системы: перед запуском измерения, прибор автоматически тестирует электронные компоненты системы, проводит замеры температуры окружающей среды; при введении тест-полоски, прибор тестирует ее на пригодность к измерению, и если тест-полоска прошла внутренний контроль качества, только в таком случае, прибор готов проводить измерение.</p>
        <p>В некоторых случаях, возможно проведение внешних контрольных измерений. Для каждого измеряемого параметра предусмотрен отдельный контрольный раствор.</p>
        <strong>Рекомендованно выполнять контрольное измерение в следующих случаях:</strong>
        <ul>
          <li>При вскрытии нового тубуса с тест-полосками.</li>
          <li>После замены батарей.</li>
          <li>После очистки прибора.</li>
          <li>При появлении сомнений в правильности результатов измерения.</li>
        </ul>
        <p>Контрольное измерение выполняется тем же способом, что и обычное, за исключением
          того, что вместо крови используются контрольные растворы. При проведении контрольного измерения используйте прибор только в допустимом диапазоне температур для контрольного раствора. Этот диапазон зависит от измеряемого
          показателя (см. инструкцию-вкладыш к соответствующему контрольному раствору).</p>
      </div>
      `,
    },
  ]

.faq#faq
  .container
    h3 Вопросы и ответы
    ul#faq-accordion.faq-wrap.accordion
      each faq in faqList
        li(class=faq.defaultClass)
          .title 
            span #{faq.title}
            i.icon.icon-open
          .info !{faq.info}