footer.footer
  .container
    .footer-wrap 
      span *Экспресс-анализатор биохимический портативный "Аккутренд Плюс" с принадлежностями, РУ от 28 декабря 2015 г. № ФСЗ 2008/02119 (крупнее) Taylor, J.R. and Lopez, A.M. (2004), Cholesterol: point of care testing. Ann Pharmacother 38: 1252-1257
      p Accutrend® Plus* является товарным знаком компании Рош. <br />© 2020. ООО «Рош Диагностика Рус», 115114, Россия, г. Москва, ул. Летниковская, 2, с. 2, БЦ «Вивальди Плаза». <br />Товар сертифицирован. РУ от 28 декабря 2015 г. № ФСЗ 2008/02119
      small Данный веб-сайт содержит информацию для пациентов и специалистов в области медицины и фармацевтики России, и может содержать информацию по продукции Рош, по тем или иным причинам не доступную или не являющуюся официально утвержденной в вашей стране. Информация на данном сайте не должна использоваться для самостоятельной диагностики и лечения и не может быть заменой очной консультации врача.
      .inner-wrap
        .logo
          img(src='./assets/img/logo-white.png' alt='Roche logo')
          span © 2020 ООО «Рош Диагностика Рус»
        a(href="https://dsml.ru/" target="_blank")
          span сделано в
          img(src='./assets/img/dsml.png' alt='DSML logo')